.sidebar {
    background: #333333;
    color: #9B9B9B;
    grid-area: sidebar;
    padding: 50px 40px;
  }
  
  .sidebar__title {
    color: #F0F0F0;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .social-list {
    display: inline-grid;
    grid-template: 1fr / auto auto auto auto;
    grid-gap: 20px;
  }